.collapseTitle {
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    align-items: center;
    border-radius: 5px;
}
.collapseTitle img {
    width: 25px;
    margin-right: 10px;
    margin-top: 5px;
    filter: brightness(0) invert(1);
}
.collapse h2 {
    font-size: 24px;
    color: white;
    padding: 0 15px;
}
.collapse p {
    font-size: 16px;
    color : #FF6060;
    padding: 15px;
    background-color: rgb(244, 241, 241);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}