.apropos {
    font-size: 50px;
    text-align: center;
    margin: 80px 0;
}
.collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.collapse .dropdown {
      width: 90%;
}
.collapse-item {
    margin-top: 30px;
}