
.aproposDescription {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 10px 40px;;
    justify-content: center;
    align-items: center;
    padding-inline: 100px;
    animation : fadein 2s;
}
.aproposDescription .aproposDropdown {
      width: 100%;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@media (width <= 1000px) {
    .aproposDescription {
        padding-inline: 50px;
    }
}

@media (width <= 768px) {
    .aproposDescription {
        padding-inline: 0;
    }
}

@media (width <= 450px) {
    
}
